<article id="fff478bf-d662-81bd-941c-e47560e02a7d" class="page serif">
  <header><img class="page-cover-image" src="Suivi%20CA%20fff478bfd66281bd941ce47560e02a7d/bank.png"
               style="object-position:center 42.24%" />
    <div class="page-header-icon page-header-icon-with-cover"><img class="icon"
                                                                   src="https://www.notion.so/icons/cash_brown.svg" /></div>
    <h1 class="page-title">Suivi CA</h1>
    <p class="page-description"></p>
  </header>
  <div class="page-body">
    <div id="fff478bf-d662-81d7-9a1c-d1b2bc9e9951" class="column-list">
      <app-nav/>
      <div id="fff478bf-d662-81d7-b14d-ee5ea43a94ab" style="width:75%" class="column">
        <h2 id="fff478bf-d662-8175-9d98-c2af4dca4031" class="block-color-brown_background"><mark
          class="highlight-brown"> M O N C H I F F R E D ‘ A F F A I R E S </mark></h2>
        <p id="fff478bf-d662-81be-8d43-d871f3417826" class="">
        </p>
      </div>
    </div>
  </div>
</article><span class="sans" style="font-size:14px;padding-top:2em"></span>
