<div class="column">
  <figure class="block-color-default callout" style="white-space:pre-wrap;display:flex">
    <div style="font-size:1.5em">
      <img class="icon" src="https://www.notion.so/icons/home_brown.svg" />
    </div>
    <div style="width:100%">
      <mark class="highlight-brown">
        <strong>
          <a href="/">Accueil</a>
        </strong>
      </mark>
    </div>
  </figure>
  <div>
    <figure class="block-color-default callout" style="white-space:pre-wrap;display:flex">
      <div style="font-size:1.5em">
        <img class="icon" src="https://www.notion.so/icons/reorder_brown.svg" /></div>
      <div style="width:100%"><em><mark class="highlight-brown"><strong>Menu</strong></mark></em>
        <hr />
        <figure id="fff478bf-d662-81e0-bb0f-d0783c9f02a5" class="link-to-page">
          <a class="menu-link" href="/taches" >
            <img class="icon" src="https://www.notion.so/icons/push-pin_brown.svg" />
            Tâches
          </a>
        </figure>
        <figure class="link-to-page">
          <a class="menu-link" href="interventions">
            <img class="icon" src="https://www.notion.so/icons/calendar-month_brown.svg" />
            Interventions
          </a>
        </figure>
        <figure class="link-to-page">
          <a class="menu-link" href="/missions-et-contrats">
            <img class="icon" src="https://www.notion.so/icons/signature-document_brown.svg" />
            Missions &amp; Contrats</a></figure>
        <hr />
        <figure id="fff478bf-d662-81bd-941c-e47560e02a7d" class="link-to-page">
          <a class="menu-link" href="/suivis-ca">
            <img  class="icon" src="https://www.notion.so/icons/cash_brown.svg" />
            Suivi CA
          </a>
        </figure>
        <figure class="link-to-page">
          <a class="menu-link" href="/facturations">
            <img class="icon" src="https://www.notion.so/icons/check_brown.svg" />
            Facturation
          </a>
        </figure>
        <figure class="link-to-page">
          <a class="menu-link" href="/bpf">
            <img class="icon" src="https://www.notion.so/icons/chart_brown.svg" />
            BPF
          </a>
        </figure>
        <hr />
        <figure class="link-to-page">
          <a class="menu-link" href="/organismes-de-formation">
            <img class="icon" src="https://www.notion.so/icons/school_brown.svg" />
            Organismes de Formation
          </a>
        </figure>
        <figure class="link-to-page">
          <a class="menu-link" href="/intermediaires">
            <img class="icon" src="https://www.notion.so/icons/arch-bridge_brown.svg" />
            Intermédiaires
          </a>
        </figure>
        <figure class="link-to-page">
          <a class="menu-link" href="/contacts">
            <img class="icon" src="https://www.notion.so/icons/friends_brown.svg" />
            Contacts
          </a>
        </figure>
        <hr />
        <figure class="link-to-page">
          <a class="menu-link" href="/cours-en-stock">
            <img class="icon" src="https://www.notion.so/icons/fan-deck_brown.svg" />
            Cours en stock
          </a>
        </figure>
        <figure class="link-to-page">
          <a class="menu-link" href="/mes-documents">
            <img class="icon" src="https://www.notion.so/icons/archive_brown.svg" />
            Mes documents
          </a>
        </figure>
        <figure class="link-to-page">
          <a class="menu-link" href="/mes-candidatures">
            <img class="icon" src="https://www.notion.so/icons/briefcase_brown.svg" />
            Mes candidatures
          </a>
        </figure>
        <hr />
        <figure class="link-to-page">
          <a class="menu-link" href="">
            <img class="icon" src="Mon%20activite%CC%81%20de%20formation%2010b478bfd66280b9853ce96ac37471b6/Sitemap%20fff478bfd66281f68cf4f58a7a71b815/map.png" />
            Sitemap
          </a>
        </figure>
        <p class="">🔗
          <a href="https://webbybooster.com/cours/gestion-activite-formateur-independant/">
            Documentation du template
          </a>
        </p>
      </div>
    </figure>
    <figure>
      <div class="source">
        <a href="https://widgetbox.app/embed/clock/digital/JmxebGHSyzXqFfwfxM6uPu?flag=true">
          https://widgetbox.app/embed/clock/digital/JmxebGHSyzXqFfwfxM6uPu?flag=true
        </a>
      </div>
    </figure>
    <h2 class="block-color-brown_background">
      <mark class="highlight-brown"> R A C C O U R C I S </mark>
    </h2>
    <p class="block-color-brown">🎨
      <a href="https://webbybooster.com/produit/modele-de-couverture-notion/">
        Création de Couvertures des pages Notion
      </a>
    </p>
    <p class="">⚒️
      <mark class="highlight-brown"></mark>
      <mark class="highlight-brown">
        <a href="https://www.notion.so/decb306bf3d8450d89c7e40a413b1994?pvs=21">
          Boîte à outils en ligne pour les projets créatifs
        </a>
      </mark>
    </p>
    <ul class="bulleted-list">
      <li style="list-style-type:disc">…</li>
    </ul>
    <ul class="bulleted-list">
      <li style="list-style-type:disc">…</li>
    </ul>
  </div>
  <hr />
  <h2 class="block-color-brown_background">Qui suis-je</h2>
  <figure class="image">
    <a href="Mon%20activite%CC%81%20de%20formation%2010b478bfd66280b9853ce96ac37471b6/Cindy_Carrillo_-_carr.png">
      <img style="width:144px" src="../../../assets/imgs/Cindy_Carrillo_-_carr.png" />
    </a>
  </figure>
  <h3 class=""><strong>Cindy Carrillo</strong></h3>
  <p class=""><em>Web designer &amp; Formatrice</em></p>
  <p class="">🔗 <a href="https://cindy-carrillo.com">Mes
    services de création de site web</a></p>
  <p class="">📩 <a
    href="mailto:cindy@webbybooster.com">cindy&#64;webbybooster.com</a></p>
  <p class=""><mark class="highlight-blue"><strong><a
    href="https://www.linkedin.com/in/cindycarrillo/">LinkedIn</a></strong></mark><mark
    class="highlight-blue"><strong> </strong></mark><mark class="highlight-pink"><strong><a
    href="https://www.instagram.com/webbybooster/">Instagram</a></strong></mark></p>
</div>
